.main {
  height: auto;
  background-color: var(--background);
  position: relative;
  padding-bottom: 4rem;
}

.main .link_breadcrumb_container {
  padding: 3rem 0px 2rem 0px;
}

/* DARK */

.main_dark {
  background-color: #20242c !important;
}
