<section fxLayout="row" fxLayoutAlign="start center" aria-live="polite" aria-label="'MISC.loading' | translate">
  <span fxFlex="20"><strong>{{ "MISC.loading" | translate }}</strong></span>
  <span fxFlex="60" class="load-3" fxLayout="row" fxLayoutAlign="center center">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </span>
</section>
