section {
  width: 100%;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

span {
  padding: 1rem;
  font-weight: bold;
}

.line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #339;
}

.line {
  margin-left: 3px;
  width: 1.5em;
  height: 1.5em;
}

.load-3 .line:nth-last-child(1) {
  animation: loadingC 2.5s 2.5s steps(2, end) infinite;
}
.load-3 .line:nth-last-child(2) {
  animation: loadingC 2.5s 2.2s steps(2, end) infinite;
}
.load-3 .line:nth-last-child(3) {
  animation: loadingC 2.5s 1.9s steps(2, end) infinite;
}
.load-3 .line:nth-last-child(4) {
  animation: loadingC 2.5s 1.6s steps(2, end) infinite;
}
.load-3 .line:nth-last-child(5) {
  animation: loadingC 2.5s 1.3s steps(2, end) infinite;
}
.load-3 .line:nth-last-child(6) {
  animation: loadingC 2.5s 1.0s steps(2, end) infinite;
}
.load-3 .line:nth-last-child(7) {
  animation: loadingC 2.5s 0.7s steps(2, end) infinite;
}
.load-3 .line:nth-last-child(8) {
  animation: loadingC 2.5s 0.4s steps(2, end) infinite;
}
.load-3 .line:nth-last-child(9) {
  animation: loadingC 2.5s 0.1s steps(2, end) infinite;
}

@keyframes loadingC {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.2);
  }
}