<header fxLayout="row" fxLayoutAlign="center center">
  <section fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <!--
  <button
    class="menu-button"
    fxHide.gt-sm
    mat-icon-button
    (click)="toggleSideNav()"
  >
    <mat-icon aria-label="Open sidebar menu">menu</mat-icon>
  </button>
-->
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxHide.lt-md
      style="width: 100%;"
    >
      <app-breadcrumbs fxFlex></app-breadcrumbs>
    </div>
    <div class="header_wrapper" fxLayout="row" fxLayoutAlign="center">
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        fxFlex.md="87"
        fxFlex.lg="87"
        fxFlex.gt-lg="87"
      >
        <div
          class="amp_header"
          fxLayout="row"
          fxLayoutAlign="space-between center"
        >
          <a
            routerLink="/"
            routerLinkActive="active"
          >
            <img
              src="../../assets/images/logo_accessmonitor_01_v2-1.svg"
              alt="{{ 'HEADER.logo_alt' | translate }}"
              height="92px"
            />
          </a>
          <div class="header_text">
            {{ "HEADER.line_text" | translate }}
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
