.header_wrapper_1 {
  width: 100%;
  background-color: var(--top-header-background);
}

.header_wrapper {
  width: 100%;
  background-color: var(--results-header-background);
}

.top_row {
  width: 100%;
  margin: 10px 0px;

  div {
    height: 35px;
    background-color: var(--top-header-background);
    font-size: 1em;
    color: var(--home-header-text-2);
    font-weight: 400;
    font-family: "Lato";

    svg {
      padding-right: 10px;

      path {
        fill: var(--top-header-icon-color);
      }
    }

    a {
      color: var(--top-header-icon-color);
      text-decoration: none;
    }

    .switch {
      border: none;
      background-color: var(--top-header-background);
      color: var(--top-header-icon-color);
      font-size: 1em;
      font-weight: 400;
      font-family: "Lato";
      cursor: pointer;

      svg {
        padding-left: 16px;
        padding-right: 0;

        path {
          fill: var(--top-header-icon-color);
        }
      }
    }
  }
}

.amp_header {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 8px;
  padding-right: 8px;
}

.amp_header svg path {
  fill: var(--results-header-text);
}

.amp_header svg circle {
  fill: var(--results-header-text);
}

.header_button {
  width: 230px;
  height: 50px;
  background-color: var(--results-header-button-background);
  font-size: 16px;
  line-height: 24px;
  color: var(--results-header-button-text);
  font-weight: 700;
  font-family: "Lato";
  cursor: pointer;
  border-radius: 25px;
  border: 2px solid var(--results-header-button-border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_button:hover {
  animation-name: header-button;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;

  svg path {
    animation-name: header-button;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
}

@keyframes header-button {
  0% {
    background-color: var(--results-header-button-background);
    color: var(--results-header-button-text);
    fill: var(--results-header-button-text);
  }

  100% {
    background-color: var(---results-header-button-text);
    color: var(--results-header-button-background);
    fill: var(--results-header-button-background);
  }
}

.header_button svg {
  display: inline;
  margin-left: 1em;
}

.header_button svg path {
  fill: var(--results-header-button-text);
}

.header_text {
  font-size: 1.125em;
  line-height: 1.25em;
  color: var(--home-header-text-2);
  font-weight: 400;
  font-family: "Lato";
}

.header_text_large {
  text-align: right;
}

.header_text_tablet {
  text-align: left;
  position: relative;
  left: 165px;
  top: -21px;
}
