
<footer fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="space-around center" fxLayoutAlign.lt-md="start center">
  <span><em lang="en">Copyright</em> © 2018 <a href="http://www.acessibilidade.gov.pt" target="_blank">{{ "FOOTER.link" | translate}}</a> {{ "FOOTER.rights" | translate}}</span>
  <mat-form-field class="language-select" fxHide.lt-md>
    <label for="language">{{ 'FOOTER.language' | translate }}</label>
		<mat-select id="language" [(value)]="selectedLang" (selectionChange)="changeLanguage()">
			<mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">
				{{ "LANGUAGES."+lang | translate }}
			</mat-option>
		</mat-select>
  </mat-form-field>
</footer>
