<footer fxLayout="column" fxLayoutAlign="start center" fxHide.lt-md>
  <nav
    fxLayout="row"
    fxLayoutAlign="center center"
    id="linksRow"
    aria-label="Menu de conformidade do acessibilidade.gov.pt"
  >
    <ul>
      <li>
        <a href="https://www.acessibilidade.gov.pt/acessibilidade/" target="_blank">{{
          "FOOTER.accessibility" | translate
        }}</a>
      </li>
      <li>
        <a href="https://www.acessibilidade.gov.pt/termos-e-condicoes/" target="_blank">{{
          "FOOTER.terms" | translate
        }}</a>
      </li>
      <li>
        <a
          href="https://www.ama.gov.pt/web/agencia-para-a-modernizacao-administrativa/politica-de-privacidade" target="_blank"
          >{{ "FOOTER.privacy" | translate }}</a
        >
      </li>
      <li>
        <a
          href="https://github.com/amagovpt/access-monitor-plus"
          target="_blank"
          >Github</a
        >
      </li>
      <li>
        <a
          href="https://www.acessibilidade.gov.pt/glossario/"
          target="_blank"
          >{{ "FOOTER.glossary" | translate }}</a
        >
      </li>
      <li>
        <a href="https://www.acessibilidade.gov.pt/opcoes-de-visualizacao/" target="_blank">{{ "FOOTER.options" | translate }}</a>
      </li>
    </ul>
  </nav>
  <div fxLayout="row" fxLayoutAlign="center center" class="logosRow">
    <img src="assets/images/logo_footer_rp.svg" alt="República Portuguesa" />
    <img
      src="assets/images/logo_footer_AMA.svg"
      alt="AMA – Agência para a Modernização Administrativa I.P."
    />
    <img
      src="assets/images/logo_footer_compete.svg"
      alt="COMPETE 2020 – Programa Operacional Competitividade e Internacionalização"
    />
    <img
      src="assets/images/logo_footer_feei.svg"
      alt="União Europeia – Fundo Europeu de Desenvolvimento Regional"
    />
    <img src="assets/images/logo_footer_portugal2020.svg" alt="Portugal 2020" />
    <div>
      <a href="https://selo.acessibilidade.gov.pt/" target="_blank"
        ><img
          src="assets/selos/selo_ouro_md.svg"
          alt="Selo Ouro de Usabilidade e Acessibilidade"
      /></a>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" id="cpyrgtRow">
    © 2021 AMA -&nbsp;
    <a href="http://www.acessibilidade.gov.pt" target="_blank">{{
      "FOOTER.link" | translate
    }}</a
    >&nbsp;
    {{ "FOOTER.rights" | translate }}
  </div>
</footer>

<footer fxLayout="column" fxLayoutAlign="start center" fxHide.gt-sm>
  <div fxLayout="row" gdColumns="75% 25%" id="firstRow">
    <nav
      fxLayout="column"
      fxLayoutAlign="start start"
      id="linksCol"
      aria-label="Menu de conformidade do acessibilidade.gov.pt"
    >
      <ul>
        <li>
          <a href="https://www.acessibilidade.gov.pt/acessibilidade/" target="_blank">{{
            "FOOTER.accessibility" | translate
          }}</a>
        </li>
        <li>
          <a href="https://www.acessibilidade.gov.pt/termos-e-condicoes/" target="_blank">{{
            "FOOTER.terms" | translate
          }}</a>
        </li>
        <li>
          <a
            href="https://www.ama.gov.pt/web/agencia-para-a-modernizacao-administrativa/politica-de-privacidade" target="_blank"
            >{{ "FOOTER.privacy" | translate }}</a
          >
        </li>
        <li>
          <a
            href="https://github.com/amagovpt/access-monitor-plus"
            target="_blank"
            >Github</a
          >
        </li>
        <li>
          <a
            href="https://www.acessibilidade.gov.pt/glossario/"
            target="_blank"
            >{{ "FOOTER.glossary" | translate }}</a
          >
        </li>
        <li>
          <a href="https://www.acessibilidade.gov.pt/opcoes-de-visualizacao/" target="_blank">{{ "FOOTER.options" | translate }}</a>
        </li>
      </ul>
    </nav>
    <div>
      <a href="https://selo.acessibilidade.gov.pt/" target="_blank"
        ><img
          src="assets/selos/selo_ouro_xl.svg"
          alt="Selo Ouro de Usabilidade e Acessibilidade"
      /></a>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" class="logosRow3">
    <img src="assets/images/logo_footer_rp.svg" alt="República Portuguesa" />
    <img
      src="assets/images/logo_footer_AMA.svg"
      alt="AMA – Agência para a Modernização Administrativa I.P."
    />
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="logosRow2">
    <img
      src="assets/images/logo_footer_compete.svg"
      alt="COMPETE 2020 – Programa Operacional Competitividade e Internacionalização"
    />
    <img
      src="assets/images/logo_footer_feei.svg"
      alt="União Europeia – Fundo Europeu de Desenvolvimento Regional"
    />
    <img src="assets/images/logo_footer_portugal2020.svg" alt="Portugal 2020" />
  </div>

  <div class="cpyrgtRow">
    <span>© 2021</span>
    <span
      >AMA -&nbsp;<a href="http://www.acessibilidade.gov.pt" target="_blank">{{
        "FOOTER.link" | translate
      }}</a></span
    >
    <span> {{ "FOOTER.rights" | translate }}</span>
  </div>
</footer>
