footer {
  background-color: var(--footer-background);
}

#linksRow {
  margin-top: 41px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    text-align: center;
    font-family: "Lato";
    font-size: 1em;
    letter-spacing: 0;
    line-height: 2.5em;
    padding: 0 20px;
  }

  a {
    color: var(--footer-link-text);
  }
}

#firstRow {
  width: 87%;
  margin-top: 41px;
}

#linksCol {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    text-align: left;
    font-family: "Lato";
    font-size: 1em;
    letter-spacing: 0;
    line-height: 2.5em;
    padding: 0 20px;
  }

  a {
    color: var(--footer-link-text);
  }
}

#linksCol + div {
  img {
    width: 85px;
    height: auto;
  }
}

.logosRow {
  margin-top: 45px;

  img {
    padding: 0 10px;
    width: 100px;
    height: auto;
  }

  a img {
    padding-left: 55px;
    width: 135px;
    height: auto;
  }

  svg path,
  svg circle,
  svg ellipse {
    fill: var(--footer-img);
  }
}

.logosRow2 {
  margin-top: 15px;

  img {
    padding: 0 10px;
    width: 100px;
    height: auto;
  }

  svg path,
  svg circle,
  svg ellipse {
    fill: var(--footer-img);
  }
}

.logosRow3 {
  margin-top: 45px;

  img {
    padding: 0 10px;
    width: 150px;
    height: auto;
  }

  svg path,
  svg circle,
  svg ellipse {
    fill: var(--footer-img);
  }
}

#cpyrgtRow {
  margin-top: 40px;
  margin-bottom: 78px;
  color: var(--footer-text);
}

a {
  text-decoration: none;
  color: var(--footer-text);
}

a:hover {
  text-decoration: underline;
}

.cpyrgtRow {
  margin-top: 40px;
  margin-bottom: 78px;
  color: var(--footer-text);
  text-align: center;

  span {
    display: block;
  }

}