/*.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: var(--primary);
}

.breadcrumb-item a {
  color: var(--primary);
}

.breadcrumb-item {
  font-family: var(--font-lato) !important;
  font-size: 18px;
}

.breadcrumb-item.active {
  color: #333 !important;
}

*/

.breadcrumb-item + .breadcrumb-item::before {
  content: unset;
}

.breadcrumb-item a {
  color: var(--primary);
}

.breadcrumb-item {
  font-family: var(--font-lato) !important;
  font-size: 1rem;
}

.breadcrumb-item.active {
  color: #333 !important;
}

.breadcrumb .breadcrumb-item:not(:first-child) {
  background-image: url("../../../../public/img/chevron-right-dark.svg");
  background-size: 0.75rem;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  padding-left: 1rem;
  margin-left: 0.5rem;
}
