.nav-tabs {
  background-color: #eaeaea !important;
  border-radius: 0px !important;
  line-height: 3em;
}

.nav-tabs .nav-link {
  border: 0;
  color: var(--primary) !important;
  border-radius: 0 !important;
}

.nav-tabs .nav-link.active {
  font-weight: 700;
  color: var(--primary);
  font-family: var(--fonte-lato);
  background-color: #eaeaea;
  border-bottom: 5px solid var(--primary);
}
