<main id="main" fxLayout="row" fxLayoutAlign="center center">
  <section fxLayout="column" fxLayoutAlign="center center" fxFlex.lt-md="95" fxFlex.md="80" fxFlex.lg="80" fxFlex.gt-lg="60">
    <mat-card>
      <mat-card-header class="header" fxLayout="row" fxLayoutAlign="center center">
        <mat-card-title fx>
          <h1>{{ "MISC._404.title" | translate }}</h1>
        </mat-card-title>
        <mat-card-subtitle>
          <h2>{{ "MISC._404.description" | translate }}</h2>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <a mat-button routerLink="/">{{ "MISC._404.homepage" | translate }}</a>
      </mat-card-actions>
    </mat-card>
  </section>
</main>
