.main .link_breadcrumb_container {
  padding: 3rem 0px 2rem 0px;
}

.validator_container {
  padding: 62px 60px;
  display: grid;
  grid-template-columns: 55% 45%;
}

.validator_container_description {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.75em;
}

.validator_container .right_container {
  place-content: flex-start center;
}

.verify_img {
  width: 237px;
}

.nav-item button {
  width: 200px;
  min-width: 210px;
  height: 55px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .link_breadcrumb_container {
    padding: 2rem 0px 1rem 0px;
  }
}

@media only screen and (max-width: 991px) {
  .validator_container {
    grid-template-columns: 100%;
    padding: 20px;
  }

  .validator_container .left_container {
    width: 100%;
  }

  .validator_container .right_container {
    display: none !important;
  }
}

/* DARK */

.main_content_home {
  background-color: #2c3241 !important;
  color: #ebf2f6;
}

.main_content_home .tab_content_view .field label {
  color: var(--header-top-bar-dark-text);
}

.main_content_home .tab_content_view .field input,
.main_content_home .tab_content_view .field textarea {
  color: var(--header-top-bar-dark-text) !important;
  background-color: transparent !important;
  border-color: var(--header-top-bar-dark-text) !important;
}

.main_content_home .tab_content_view .field input::placeholder,
.main_content_home .tab_content_view .field textarea::placeholder {
  color: var(--header-top-bar-dark-text) !important;
}

.main_content_home .nav-tabs {
  background-color: #20242c !important;
  border-bottom: 0px;
}

.main_content_home .nav-item button {
  background-color: #20242c !important;
  color: var(--header-top-bar-dark-text) !important;
}

.main_content_home .nav-tabs .nav-link.active {
  border-bottom-color: var(--header-top-bar-dark-text);
}

.main_dark .breadcrumb-item {
  color: var(--header-top-bar-dark-text) !important;
}

.main_dark .breadcrumb-item a {
  color: var(--header-top-bar-dark-text) !important;
}

.main_dark .breadcrumb-item::before {
  color: var(--header-top-bar-dark-text) !important;
}

.main_dark #btn-url,
.main_dark #btn-html,
.main_dark #btn-upload {
  color: #000;
  background-color: #b6dcf6;
  border-color: transparent;
}

.main_dark #btn-url:disabled,
.main_dark #btn-html:disabled,
.main_dark #btn-upload:disabled {
  background-color: #808080 !important;
  color: #000;
}

.main_content_home input[type="file"].form-control {
  background-color: #2c3241;
  color: #b6dcf6;
  border-color: #b6dcf6 !important;
}

.main_content_home .input-group .btn {
  background-color: #b6dcf6;
  color: #000;
  border-color: #b6dcf6 !important;
}

.main_content_home .input-group .btn:hover {
  background-color: #2c3241;
  color: #b6dcf6;
  border-color: #b6dcf6 !important;
}
