footer {
  padding: 40px 0;
  background-color: #f1f1f1;
}

footer .footer-menu {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

footer .footer-menu li a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: var(--primary);
  font-size: 18px;
  font-family: var(--font-lato);
}

footer .footer-menu li a:hover {
  text-decoration: underline;
}

.footer-logos {
  text-align: center;
  margin-bottom: 20px;
}

.footer-logos img {
  padding: 15px;
}

.footer-logos li {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

@media (min-width: 576px) {
  .footer-logos li {
    display: inline-block;
    width: 25%;
  }
}

@media (min-width: 768px) {
  footer .footer-menu {
    flex-direction: row;
    justify-content: center;
  }

  footer .footer-menu li {
    display: inline-block;
  }

  .footer-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .footer-logos li {
    display: initial;
    width: initial;
  }
}

footer .footer-logo figure {
  margin-bottom: 0;
}

footer .logo-selo {
  text-align: center;
  margin-bottom: 20px;
}

footer .logo-selo img {
  max-width: 150px;
}

footer .copyright {
  text-align: center;
  font-size: 14px;
}

footer .copyright p {
  margin-bottom: 0;
}

/* Dark Mode */

.dark_mode_footer {
  background-color: var(--header-dark);
  color: var(--header-top-bar-dark-text);
}

.dark_mode_footer li a {
  color: var(--header-top-bar-dark-text) !important;
}
