footer {
  padding: 40px 0px;
  background-color: #f1f1f1;
  font-family: var(--font-lato);
  bottom: 0;
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
}

.links a {
  font-size: 16px;
  color: #333399;
  font-family: var(--font-lato);
  padding-right: 30px !important;
  height: 44px;
  padding-bottom: 65px;
  padding-top: 5px;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* .selo_large {
  margin-left: 20px;
} */

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

footer img {
  max-width: 100%;
  height: auto;
}

footer ul {
  list-style-type: none;
  padding: 0px !important;
  text-align: center;
  margin: 0;
}

@media (max-width: 576px) {
  footer .links a {
    padding-right: 0px !important;
    padding-bottom: 0px !important;
  }
}

@media (max-width: 576px) {
  footer .links a {
    font-size: 16px;
    line-height: 30px;
  }
}

/* Footer for Figam */

.back-to-top {
  position: absolute;
  right: 40px;
  top: 2px;
  transform: translate(-50%, -50%);
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  background-color: var(--primary);
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .back-to-top {
    right: -10px;
  }
}

.back-to-top i {
  color: #fff;
}

.dark {
  background-color: var(--primary);
  color: #b6dcf6;
}

.dark ul li a {
  color: #b6dcf6;
}

.dark .back-to-top button {
  border: inherit;
  background-color: #b6dcf6;
}

.dark .back-to-top button i {
  color: var(--primary);
}
