.field label {
  font-size: 1rem;
  color: #333;
  font-weight: 700;
}

.field input {
  height: 42px;
  border: 2px solid var(--primary) !important;
  background-color: #ffffff;
  margin: 8px 0 8px 0;
  min-width: 50px;
  padding: 0px 16px;
  color: #333;
  font-weight: 400;
  font-size: 1em;
  font-family: var(--font-lato);

  border-radius: 0;
}

.field input:focus {
  /* REVER o Boxshadow */
  box-shadow: none;
}

.field .form-control.is-invalid {
  border-color: #d10000 !important;
}

.field .invalid-feedback {
  color: #d10000;
  font-size: 1em;
  font-weight: 700;
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
}
