.loadingContainer {
  background-color: #fff;
  display: flex;

  height: 87px;
  padding: 0px 75px 0px 64px;
  align-items: center;
  gap: 300px;
  flex-shrink: 0;
  font-family: var(--font-lato);

  margin-bottom: 10rem !important;
}

.group_mobile {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .loadingContainer {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: unset;
  }
  .deskGroupMobile {
    display: none !important;
  }

  .group_mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
  }
}

.firstGroupContainer,
.secondGroupContainer {
  width: 48% !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.firstGroupContainer button,
.secondGroupContainer button {
  width: 100%;
  font-size: 13.5px;
}

.firstGroupContainer button:first-child,
.secondGroupContainer button:first-child {
  margin-bottom: 10px;
}

/* LOADING */

.loader {
  width: 220px;
  height: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--primary);
  animation: dotAnimation 3.6s infinite linear;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.4s;
}
.dot:nth-child(3) {
  animation-delay: 0.8s;
}
.dot:nth-child(4) {
  animation-delay: 1.2s;
}
.dot:nth-child(5) {
  animation-delay: 1.6s;
}
.dot:nth-child(6) {
  animation-delay: 2s;
}
.dot:nth-child(7) {
  animation-delay: 2.4s;
}
.dot:nth-child(8) {
  animation-delay: 2.8s;
}
.dot:nth-child(9) {
  animation-delay: 3.2s;
}

@keyframes dotAnimation {
  0% {
    transform: scale(1, 1);
  }
  33% {
    transform: scale(2, 2);
  }
  66% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
