.skip-to-main {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -100;

  &:focus {
    z-index: 100;
  }
}

.main {
	margin-bottom: -115px;
  min-height: 100vh;
}

.main:after {
  content: "";
  display: block;
  height: 115px;
}