<a class="skip-to-main" [routerLink]="[]" fragment="main">{{ "MISC.skip_to_main" | translate }}</a>
<div id="top" ngClass.gt-sm="main" ngClass.lt-md="mainS">
  <app-header></app-header>
  <router-outlet></router-outlet>
</div>
<button *ngIf="!isHomePage" type="button" class="go-to-top" (click)="goToTop()">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16"><title>monitor_icons_tools_back-to-top</title><path d="M9,3.93l.84.84,1.51,1.5A1,1,0,1,0,12.93,5l-.14-.14-2-2-2-2a1.11,1.11,0,0,0-1.57,0h0l-2,2-2,2A1,1,0,1,0,4.5,6.41l.14-.14.78-.78L7,3.93V7.78a1,1,0,1,0,2,0H9V3.93Z"/><circle cx="8.03" cy="11.19" r="0.98"/><circle cx="8.03" cy="14.52" r="0.98"/></svg>
</button>
<app-footer></app-footer>