.skip-to-main {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -100;

  &:focus {
    z-index: 100;
  }
}

.main {
  min-height: 70vh;
  padding-bottom: 40px;
}

.mainS {
  padding-bottom: 60px;
}

.go-to-top {
  border-radius: 50%;
  border: none;
  background-color: var(--go-to-top-background);
  z-index: 1;
  position: absolute;
  right: 64px;
  margin-top: -1.5em;
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-sizing: border-box;

  svg path {
    fill: var(--go-to-top-icon);
  }

  svg circle {
    fill: var(--go-to-top-icon);
  }
}