.header_wrapper {
  width: 100%;
  background-color: var(--background-secondary);
}

.amp_header {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 8px;
  padding-right: 8px;
}

.amp_header svg path {
  fill: var(--text-primary);
}

.amp_header svg circle {
  fill: var(--text-primary);
}

.card_actions button {
  /*width: 141px;*/
  height: 50px;
  border-radius: 25px;
  background-color: var(--header-results-button-background);
  font-size: 1em;
  color: var(--header-results-button-text);
  font-weight: 700;
  font-family: "Red Hat Display";
  text-align: center;
}

.card_actions button svg {
  display: inline;
  margin-left: 1em;
}

.card_actions button svg path {
  fill: var(--header-results-button-text);
}

section {
  width: 87%;
}

section:first-child {
  width: 100%;
}

section:nth-child(2) nav {
  padding-top: 5em;
  padding-bottom: 3em;
}

section:nth-child(2) nav span {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

section:nth-child(3) {
  font-family: "Red Hat Display";
  padding-bottom: 5em;
}

section:nth-child(3) div:first-child {
  background-color: #339;
  font-size: 1em;
  padding: 0.3em;
  width: 120px;
  color: #f1f1f1;
  font-weight: 700;
  text-align: center;
}

.action {
  color: #339;
  font-weight: 700;
  border-radius: 25px;
}

.action svg {
  width: 2em;
  height: 1.5em;
}

.action svg path, .action svg circle {
  fill: #339;
}

.action:hover, .action:focus {
  color: white;
  background-color: #339;
}

.action:hover svg path, .action:focus svg path {
  fill: white;
}

.action:hover svg circle, .action:focus svg circle {
  fill: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  width: 200px;
  margin-top: 1em;
  padding: 1em;
  border-radius: 25px;
  color: white;
  background-color: var(--text-tertiary);
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  display: block;
  padding: 0.5em;
  text-decoration: none;
  font-weight: 700;
}

.dropdown-content a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.show_dropdown {
  display: block !important;
}

.header {
  text-align: center;
}

.summary {
  width: 100%;
}

.metadata th, .metadata td {
  padding: 0.5em;
}

::ng-deep .reading-block {
  line-height: 40px;
}

@media only screen and (max-width:960px){
	.score {
    height: 200px;
  }
}

.text-center {
	text-align: center;
}

.vertical-middle {
	vertical-align: middle;
}

#score {
	font-weight: bold;
	font-size: 4rem;
}

.summary-table th, .summary-table td {
  text-align: center;
  border: thin solid #fff;
  padding: 0.5em;
}

.summary-header {
  background-color: #eee;
  font-weight: bold;
}

.summary-header2 {
  background-color: black;
  color: white;
}

.summary-table tr:nth-child(3) td {
  border-bottom: medium solid black;
}

th {
  text-align: center;
}

td {
  text-align: left;
}

.tr-err, .rowerr {
	background-color: #f99;
}

.tr-ok, .rowok {
	background-color: #9c9;
}

.tr-war, .rowwar {
	background-color: #ff9;
}

.pointer {
	cursor: pointer;
}

.grade {
  background-color: #425C6B;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 26px;
  height: 26px;
}

.desc a {
  color: black;
  text-decoration: underline;
}

.results-table {
  width: 100%;
}

.results-table td {
  padding: 1em;
}

::ng-deep mark {
  background-color: white;
  font-weight: bold;
}

::ng-deep code {
  background-color: whitesmoke;
}

::ng-deep table th, table td.center { text-align:center; }
::ng-deep table th { padding:0px 0.5em; }
::ng-deep table th.mini { width:3em; }
::ng-deep table td { text-align:right; }
::ng-deep table td.left, table th.left { text-align:left; }
::ng-deep .scoreok td { background-color:#cfc; }
::ng-deep .scorewar td { background-color:#ffc; }
::ng-deep .scorerror td { background-color:#fcc; }
::ng-deep .scorereg td { background-color:#ffe; }

.summary-section { 
  background-color: white;
  width: 100%;
}

.summary-section h1 { 
  height: 19px;
  width: 89px;
  color: #333333;
  font-family: Lato;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
  padding-left: 69px;
  padding-top: 49px;
  padding-bottom: 50px;
}

.summary-first-row {
  margin-bottom: 100px;
}

.score {
  margin-left: 80px;
}

.url_title {
  margin-left: 91px;
}

.elements_size {
  margin-left: 80px;
}

.elements_size span:first-child {
  color: #333333;
  font-family: Lato;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 12px;
}

.elements_size .elements {
  margin-bottom: 64px;
}

.elements_size span:nth-child(2) {
  color: #333333;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
}

.elements_size .size {
  margin-bottom: 119px;
}

.summary_practices {
  border-spacing: 0;
  margin-left: 100px;
}

.summary_practices th, .summary_practices td {
  border-right: 1px solid black;
}

.summary_practices td {
  width: 90px;
  height: 90px;
  text-align: center;
}

.summary_practices tbody td {
  background-color: lightgrey;
}

.summary_practices tbody td:first-child {
  width: 500px;
}

.summary_practices tfoot td {
  height: 18px;
  width: 27px;
  color: #333333;
  font-family: Lato;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}

::ng-deep .summary-section .reading-block {
  font-size: 4em !important;
  font-weight: bold;
  letter-spacing: 5px;
  overflow: unset;
}

.evaluation-section {
  background-color: white;
  width: 100%;
}

.evaluation-section h1 {
  height: 23px;
  width: 104px;
  color: #333333;
  font-family: Lato;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
  padding-left: 63px;
  padding-top: 47px;
}

.evaluation-table {
  width: 100%;
  border-spacing: 0;
  padding-top: 29px;
  padding-left: 60px;
  padding-right: 63px;
  padding-bottom: 59px;
}

.evaluation-table thead tr {
  background-color: black;
}

.evaluation-table thead tr th {
  background-color: black;
  color: white;
  height: 50px;
  font-weight: bold;
  line-height: 22px;
  border: none;
}

.evaluation-table thead tr th:first-child {
  padding-left: 29px;
  text-align: left;
}

.evaluation-table tbody tr td:not(:first-child) svg path {
  fill: #333399;
}

.evaluation-table tbody tr td {
  border-bottom: 1px solid black;
}

.evaluation-table tbody tr td:first-child {
  width: 70px;
  height: 70px;
}

.evaluation-table tbody tr td:first-child svg {
  display: block;
  margin: auto;
}

.collapsible {
  background-color: white;
  color: #333333;
  line-height: 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  height: 70px;
  border: none;
  text-align: left;
  outline: none;
}

.collapsible:before {
  content: '\02304';
  color: #333399;
  font-size: 1.5em;
}

.collapsible-active:before {
  content: '\02303';
  color: #333399;
  font-size: 1.5em;
}

.collapsible-content {
  display: none;
}

.collapsible-content-active {
  display: block;
}