section {
  width: 87%;
}

section:nth-child(1) nav {
  padding-top: 3em;
  padding-bottom: 3em;

  span:last-child {
    color: var(--results-breadcrumbs-text);
  }
}

section:nth-child(1) div {
  padding-top: 2em;
  padding-bottom: 3em;

  .breadcrumbHeader {
    opacity: 0.8;
    color: var(--results-breadcrumbs-header);
    font-family: Lato;
    font-size: 0.875em;
    letter-spacing: 0;
  }
}

caption {
  visibility: hidden;
}

section:nth-child(1) nav span {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.bottomL {
  margin-bottom: 2em;
}

.bottomS {
  margin-bottom: 30px;
}

nav span,
nav a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Lato";
  color: var(--results-breadcrumbs-link);
}

nav a {
  text-decoration: underline;
}

.info .accessMonitor {
  font-size: 19px;
  line-height: 48px;
  color: var(--results-info-accessMonitor-text);
  background-color: var(--results-info-accessMonitor-background);
  font-weight: 700;
  font-family: "Lato";
  height: 31px;
  width: 157px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info h1 {
  font-size: 2.6em;
  color: var(--results-info-url);
  font-weight: 900;
  font-family: "Lato";
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.info h2 {
  font-size: 1.5em;
  color: var(--results-info-title);
  font-weight: 700;
  font-family: "Lato";
  margin-top: 0;
  margin-bottom: 1em;
}

.action {
  font-size: 1em;
  line-height: 1.5em;
  color: var(--results-action-button-text);
  font-weight: 700;
  font-family: "Lato";
  border-radius: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  border: none;
  background-color: var(--results-action-button-background);
  padding-left: 1em;
  padding-right: 1em;
}

.actionS {
  padding: 0;
  width: 2.5em;

  svg {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.action svg {
  width: 2em;
  height: 1.5em;
  margin-left: 1em;
}

.action svg path,
.action svg circle {
  fill: var(--results-action-button-text);
}

.action:hover,
.action:focus {
  color: var(--results-action-button-background);
  background-color: var(--results-action-button-text);
}

.action:hover svg path,
.action:focus svg path {
  fill: var(--results-action-button-background);
}

.action:hover svg circle,
.action:focus svg circle {
  fill: var(--results-action-button-background);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  width: 200px;
  margin-top: 1em;
  padding: 1em;
  border-radius: 25px;
  color: var(--results--action-button-background);
  background-color: var(--results-action-button-text);
  position: absolute;
  z-index: 1;
}

.menuS {
  left: -225px !important;
  padding: 2em;

  div {
    color: var(--results-action-button-background);

    svg path,
    svg circle {
      fill: var(--results-action-button-background);
    }
  }

  div:nth-of-type(2) {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid var(--results-action-menu-background);
  }

  a {
    padding-left: 1em !important;
  }
  a:nth-of-type(1),
  a:nth-of-type(3) {
    padding-top: 1em !important;
  }
}

.dropdown-content a {
  color: var(--results-action-button-background);
  display: block;
  padding: 0.5em;
  text-decoration: none;
  font-weight: 700;
}

.dropdown-content a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.show_dropdown {
  display: block !important;
}

.header {
  text-align: center;
}

.metadata th,
.metadata td {
  padding: 0.5em;
}

::ng-deep .reading-block {
  line-height: 40px;
}

@media only screen and (max-width: 960px) {
  .score {
    height: 200px;
  }
}

.text-center {
  text-align: center;
}

.vertical-middle {
  vertical-align: middle;
}

#score {
  font-weight: bold;
  font-size: 4rem;
}

th {
  text-align: center;
}

td {
  text-align: left;
}

.rowerr {
  background-color: #f99;
}

.rowok {
  background-color: #bce1bc;
}

.rowwar {
  background-color: #ff9;
}

.desc a {
  color: black;
  text-decoration: underline;
}

::ng-deep mark {
  background-color: transparent;
  font-weight: bold;
  text-decoration: underline;
  color: var(--results-evaluation-table-body-text);
}

::ng-deep .test_description code {
  background-color: transparent;
  font-weight: bold;
  text-decoration: underline;
  color: var(--results-evaluation-table-body-text);
}

.test_description {
  margin-left: 2em;
  width: 100%;
}

.summary-section {
  background-color: var(--results-summary-background);
  padding-bottom: 60px;
  margin-bottom: 2em;
}

.summary-section-wrapper {
  padding-top: 1em;
  width: 100%;

  h2 {
    font-size: 2em;
    line-height: 3em;
    color: var(--results-summary-text);
    font-weight: 700;
    font-family: "Lato";
    margin-top: 0em;
  }
}

.ssw_padding {
  padding-left: 64px;
  padding-right: 64px;
}

.fullWidth {
  width: 100% !important;
}

.summary-first-row {
  margin-bottom: 60px;
}

.marginB30 {
  margin-bottom: 30px;
}

.url_title {
  margin-left: 91px;
  color: var(--results-summary-text);

  span.strongH {
    font-size: 1em;
    line-height: 1.25em;
    font-weight: 700;
    font-family: "Lato";
  }

  span {
    font-size: 1.125em;
    line-height: 1.25;
    font-weight: 400;
    font-family: "Lato";
  }
}

.url_title2 {
  color: var(--results-summary-text);
  margin-bottom: 30px;

  span.strongH {
    font-size: 1em;
    line-height: 1.25em;
    font-weight: 700;
    font-family: "Lato";
  }

  span {
    font-size: 1.125em;
    line-height: 1.25;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
  }
}

.margin_bottom {
  margin-bottom: 40px;
  width: 100%;
}

.elements_size span:first-child {
  color: var(--results-summary-text);
  font-family: Lato;
  font-size: 2.25em;
  font-weight: 900;
  letter-spacing: 0;
}

.elements_size span:nth-child(2) {
  color: var(--results-summary-text);
  font-family: Lato;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
}

.marginT30 {
  margin-top: 30px;
}

.table_wrapper {
  padding-left: 71px;
}

.practices_report {
  width: 100%;

  .pr_summary {
    margin-bottom: 12px;
    color: var(--results-summary-text);

    span:nth-of-type(1) {
      font-size: 2.25em;
      font-weight: 900;
      font-family: "Lato";
    }
    span:nth-of-type(3) {
      font-size: 1.25em;
      font-weight: 700;
      font-family: "Lato";
    }
  }

  .practices_progress {
    background-color: var(--results-summary-table-background);
    width: 100%;

    .pp_toprow {
      border-top: 1px solid var(--results-summary-table-border2);
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 32px;
      padding-right: 48px;
      margin-bottom: 0;
    }

    .pp_label {
      font-size: 1em !important;
      font-weight: 700;
      font-family: "Lato";
      margin-left: 1em;
    }

    .pp_sum {
      font-size: 1.5em;
      font-weight: 700;
      font-family: "Lato";
      display: flex;
      align-items: center;
    }
  }

  .practices_compl {
    background-color: var(--results-summary-table-background);
    width: 100%;

    .pp_bottomrow {
      border-top: 1px solid var(--results-summary-background);
      padding-top: 16px;
      padding-bottom: 16px;
      padding-right: 28px;
      margin-bottom: 0;
    }

    .pc_block {
      width: 64px;
    }

    .pc_middle {
      border-left: 1px solid var(--results-summary-table-border3);
      border-right: 1px solid var(--results-summary-table-border3);
    }

    .pc_label {
      font-size: 16px;
      font-weight: 700;
      font-family: "Lato";
    }

    .pc_value {
      font-size: 16px;
      font-weight: 400;
      font-family: "Lato";
    }
  }

  .practices_tot {
    width: 100%;

    .pt_row {
      border-top: 1px solid var(--results-summary-table-border2);
      padding-top: 16px;
      padding-bottom: 16px;
      padding-right: 28px;
      margin-bottom: 0;
      color: var(--results-summary-text);
    }

    .pc_block {
      width: 64px;
    }

    .pc_sep {
      border-left: 1px solid var(--results-summary-table-border3);
    }

    .pc_label {
      font-size: 16px;
      font-weight: 700;
      font-family: "Lato";
    }

    .pc_value {
      font-size: 16px;
      font-weight: 400;
      font-family: "Lato";
    }
  }
}

.summary_practices {
  border-spacing: 0;
  width: 100%;
}

.summary_practices thead {
  padding-top: 0;
  margin-top: 0;
}

.summary_practices thead th {
  color: var(--results-summary-text);
  padding-top: 0;
  margin-top: 0;
  vertical-align: top;
}

.summary_practices thead td {
  text-align: left;
  padding-left: 1em;
  width: auto;
  color: var(--results-summary-text);

  span:first-child {
    font-size: 2.25em;
    font-weight: 900;
    font-family: "Lato";
  }

  span:nth-child(3) {
    font-size: 1.25em;
    font-weight: 700;
    font-family: "Lato";
  }
}

.summary_practices th:not(:first-child) {
  font-size: 1.5em;
  font-weight: 900;
  font-family: "Lato";
  text-align: center;
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

.summary_practices th,
.summary_practices td {
  border-right: 1px solid var(--results-summary-table-border2);
}

.summary_practices td {
  text-align: center;
}

.summary_practices tbody td {
  background-color: var(--results-summary-table-background);
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.summary_practices tbody td:first-child {
  width: auto;
  color: var(--results-summary-table-text);
}

.summary_practices tbody td:not(:first-child) {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

.summary_practices tbody tr:nth-child(2) td {
  border-top: 2px solid var(--results-summary-table-border);
  border-bottom: 2px solid var(--results-summary-table-border);
}

.summary_practices tbody tr td:first-child svg {
  margin-left: 1em;
}

.summary_practices tbody tr td:first-child svg + span {
  font-size: 1em;
  font-weight: 700;
  font-family: "Lato";
  margin-left: 1em;
}

.summary_practices tbody tr td:first-child span + span {
  width: 3em;
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Lato";
  display: flex;
  align-items: center;
}

.summary_practices tfoot td {
  color: var(--results-summary-text);
  font-family: Lato;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 0;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 0.7em;
  vertical-align: bottom;
}

::ng-deep .summary-section .reading-block {
  font-size: 4em !important;
  font-weight: 700;
  letter-spacing: 5px;
  overflow: unset;
  color: var(--results-summary-text);
}

::ng-deep .summary-section .reading-label {
  color: var(--results-summary-text);
}

.evaluation-section {
  background-color: var(--results-evaluation-background);
}

.evaluation-section-wrapper {
  width: 90%;
  padding-top: 1em;

  h2 {
    width: 104px;
    color: var(--results-evaluation-title);
    font-size: 2em;
    line-height: 3em;
    font-weight: 700;
    font-family: "Lato";
    margin-bottom: 0;
  }

  .esw-h2 {
    padding-top: 0;
    margin-top: 0;
    line-height: 2em;
  }
}

.evaluation-table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 60px;
}

.evaluation-table thead tr {
  background-color: var(--results-evaluation-table-head-background);
}

.evaluation-table thead tr th {
  background-color: var(--results-evaluation-table-head-background);
  color: var(--results-evaluation-table-head-text);
  font-size: 16px;
  line-height: 22px;
  height: 50px;
  font-weight: 700;
  font-family: "Lato";
  border: none;
}

.evaluation-table thead tr th:first-child {
  padding-left: 29px;
  text-align: left;
}

.evaluation-table tbody tr:hover {
  td:not(:first-child) {
    background-color: var(
      --results-evaluation-table-body-collapsible-background
    );
  }

  button {
    background-color: var(
      --results-evaluation-table-body-collapsible-background
    );
  }
}

.highlight {
  td:not(:first-child) {
    background-color: var(
      --results-evaluation-table-body-collapsible-background
    );
  }

  button {
    background-color: var(
      --results-evaluation-table-body-collapsible-background
    );
  }
}

.evaluation-table tbody tr td:not(:first-child) {
  color: var(--results-evaluation-table-body-text);

  ::before {
    padding-left: 0.5em;
  }

  a {
    color: var(--results-evaluation-table-body-text);
  }
}

.evaluation-table tbody td button {
  display: flex;
  align-items: center;
}

.evaluation-table tbody tr td:not(:first-child) svg path {
  fill: var(--results-evaluation-table-body-icon);
}

.evaluation-table tbody tr td {
  border-bottom: 1px solid var(--results-evaluation-table-border);
}

.evaluation-table tbody tr td:first-child {
  width: 70px;
  height: 70px;
}

.evaluation-table tbody tr td:first-child svg {
  display: block;
  margin: auto;
}

.collapsible {
  background-color: var(--results-evaluation-table-body-background);
  color: var(--results-evaluation-table-body-text);
  line-height: 1.25em;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  font-weight: 400;
  font-family: "Lato";
}

.collapsible-active, 
.collapsible-mobile {
  padding-top: 1.6em;
}

.colapsLeft:before {
  position: relative;
  top: 3px;
}

.colapsRight:after {
  position: relative;
  top: 3px;
  margin-right: 16px;
}

.colapsLeft-active:before {
  position: relative;
  top: 3px;
}

.colapsRight-active:after {
  position: relative;
  top: 3px;
  margin-right: 16px;
}

.collapsible-content {
  display: none;
  background-color: var(--results-evaluation-table-body-collapsible-background);
  padding-left: 45px;
  line-height: 1.5em;
  padding-bottom: 32px;
  padding-right: 8px;

  path {
    fill: var(--results-evaluation-table-arrow);
  }
}

.sm_cc {
  padding-right: 48px;
}

.collapsible-content-active {
  display: block;
}

.collapsible-content ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.5em;
  list-style-type: none;
}

.evaluation-table tbody td:nth-child(3) {
  width: 5em;
}

.evaluation-table tbody td:last-child {
  width: 8em;
}

.sm_row2 {
  padding-bottom: 16px;
}

.sm_level_results {
  margin-left: 2em;
}

.sm_level {
  padding-left: 6px;
  font-family: "Lato";
  font-weight: 700;
}

.sm_details {
  margin-right: 24px;
}

.listbox-area {
  margin-top: 10px !important;
  padding: 0 !important;
  border: none;

  #exp_wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  a {
    font-family: "Lato";
    font-weight: 700;
    font-size: 1em !important;
    text-decoration: none;
    color: var(--home-header-text-2);
  }

  [role="listbox"] {
    padding: 0;
    border: none;
    background-color: var(--results-listbox-background);
    color: var(--home-content-button-text-hover);
    font-family: "Lato";
    font-weight: 400;
  }

  [role="listbox"] + *,
  .listbox-label + * {
    margin-top: 1em;
  }

  [role="option"] {
    color: var(--home-header-text-2);
    position: relative;
    display: block;
    padding: 0 1em 0 1.5em;
    line-height: 1.8em;
    cursor: pointer;
  }

  [role="option"].focused {
    color: var(--home-content-button-background-hover);
    background-color: var(--home-content-button-text-hover);
  }

  button[aria-haspopup="listbox"] {
    font-family: "Lato";
    font-weight: 700;
    font-size: 1em !important;
    text-decoration: none;
    position: relative;
    padding: 15px 20px;
    border: 2px solid var(--results-listbox-background-border);
    text-align: left;
    background-color: var(--results-listbox-background);
    color: var(--home-header-text-2);
    height: 3.3em !important;
    min-height: 0 !important;
  }

  button[aria-haspopup="listbox"]::after {
    position: absolute;
    right: 10px;
    top: 17px;
    content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='16px' width='30px'><title>icon_arrow_drop</title><path d='M13.6,7.32l-.35.35a1.66,1.66,0,0,1-2.34,0l-3-3-1-1a1.55,1.55,0,0,0-2,.08A1.59,1.59,0,0,0,5,6L8,9l3,3a1.66,1.66,0,0,0,2.34,0l3-3,3-3a1.59,1.59,0,0,0,.11-2.24,1.58,1.58,0,0,0-2.23.1L15.92,5' fill='%23333399'/></svg>");
  }

  button[aria-haspopup="listbox"] + [role="listbox"] {
    position: relative;
    margin: 0;
    width: 100%;
    border-top: 0;
    overflow-y: auto;
  }

  .hidden {
    display: none;
  }
}