.top-bar {
  background-color: var(--background);
  padding-top: 1px;
  padding-bottom: 1px;
}

.top-bar,
a {
  font-family: var(--font-lato);
}
.top-bar button {
  border-color: transparent !important;
  padding: 0 2px !important;
}

.top-bar .d-flex.justify-content-between {
  flex-direction: column-reverse;
}

.top-bar .btn-ecossistema {
  color: var(--primary);
  text-decoration: none;
  text-align: start;
}

#accordionBtn:hover {
  color: #272777 !important;
}

#accordionBtn:focus {
  box-shadow: none;
  color: #272777;
  border-radius: 4px;
  border: 1px solid #272777 !important;
}

.btn-ecossistema .icon-ed-menu-dots {
  padding-right: 10px;
  font-size: 28px;
}

.btn-ecossistema span:nth-child(2) {
  color: #212529;
}

.btn-ecossistema i {
  padding-left: 4px;
}

.dark-mode,
.language-mode {
  display: flex;
  justify-content: center;
  gap: 0px !important;
}

.dark-mode:hover,
.language-mode:hover {
  color: #272777 !important;
}

.dark-mode:focus,
.language-mode:focus {
  box-shadow: none;
  color: #272777;
  border-radius: 4px;
  border: 1px solid #272777 !important;
}

@media (min-width: 992px) {
  .top-bar .d-flex.justify-content-between {
    flex-direction: row;
  }
  .dark-mode {
    justify-content: end;
  }
}

@media only screen and (max-width: 991px) {
  #langModeBtn,
  #darkModeBtn {
    display: none !important;
  }
}

.ecossistema-ama ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ecossistema-ama ul li {
  margin-bottom: 0.5rem;
}

.btn-ecossistema .description-ecossistema-ama {
  font-size: 1rem;
}

#flushEcossistema .accordion-body .container .row div[class*="col-"] {
  padding: inherit 0;
}

@media only screen and (min-width: 992px) {
  #flushEcossistema
    .accordion-body
    .container
    .row
    div[class*="col-"]:first-child {
    padding-left: 0;
  }

  #flushEcossistema
    .accordion-body
    .container
    .row
    div[class*="col-"]:last-child {
    padding-right: 0;
  }
}

.dark-mode,
.language-mode {
  color: var(--primary);
  font-size: 16px;
  text-decoration: none;
  padding-right: 0px !important;
}

.dark-mode .icon-dark {
  font-size: 20px;
  padding-left: 10px;
}

.language-mode .icon-lang {
  font-size: 20px;
  padding-left: 10px;
}

ul.ama-list {
  padding-left: unset;
}

ul.ama-list > li {
  list-style: none;
  margin-bottom: 1rem;
  position: relative;
}

@media (min-width: 320px) and (max-width: 480px) {
  #darkModeBtn,
  #langModeBtn {
    display: none !important;
  }
}

/* DARK MODE */

.dark_mode {
  color: var(--header-top-bar-dark-text) !important;
  background-color: var(--header-dark);
}

.dark_mode .btn-ecossistema {
  color: var(--header-top-bar-dark-text);
}

.dark_mode #flushHeading {
  color: #ebf2f6 !important;
}

.dark_mode .dark_mode_span {
  color: var(--header-top-bar-dark-text) !important;
}

.dark_mode .dark-mode,
.dark_mode .language-mode {
  color: var(--header-top-bar-dark-text);
  padding-right: 0px !important;
}

.dark_mode .dark-mode:hover,
.dark_mode .language-mode:hover {
  color: var(--header-top-bar-dark-text) !important;
}

.dark_mode .dark-mode:focus,
.dark_mode .language-mode:focus {
  box-shadow: none;
  color: var(--header-top-bar-dark-text);
  border-radius: 4px;
  border: 1px solid var(--header-top-bar-dark-text) !important;
}

.dark_mode #accordionBtn:hover {
  color: var(--header-top-bar-dark-text) !important;
}

.dark_mode #accordionBtn:focus {
  box-shadow: none;
  color: var(--header-top-bar-dark-text);
  border-radius: 4px;
  border: 1px solid var(--header-top-bar-dark-text) !important;
}

.dark_mode #accordionTopBar {
  color: #ebf2f6;
}

.dark_mode #accordionTopBar ul li a {
  color: var(--header-top-bar-dark-text) !important;
  text-decoration-color: var(--header-top-bar-dark-text) !important;
}

.dark_mode #accordionTopBar ul li i {
  color: var(--header-top-bar-dark-text) !important;
}
