.table tr th {
  color: #fff;
  padding: 14px;
  background-color: #333 !important;
  font-family: var(--fonte-lato);
  font-size: 16px;
  vertical-align: middle;
}

.table button {
  height: auto !important;
}

.table thead tr td {
  vertical-align: middle;
}

.table tbody tr {
  border-bottom: 1px solid #333;
}

.table tbody tr:last-child {
  border: 0 !important;
}

.table tbody tr td {
  vertical-align: middle;
  text-align: center;
}

.table tbody tr td:first-child {
  width: 70px;
  height: 72px;
}

.table_primary tbody tr td:last-child {
  width: 8em;
}

.middle_col {
  width: 5em;
}

/* Accordion in table */

.table .accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none;
}

.table .accordion-button:focus {
  box-shadow: none;
  border-radius: 2px !important;
  border: 1px solid #000;
}

/* .table .accordion-button {
  padding: 0 !important;
} */

.content_info {
  text-align: left;
}

.content_info a {
  color: #333 !important;
  font-weight: 700;
  text-decoration: underline !important;
}

mark,
code {
  font-weight: 900 !important;
  text-decoration: underline;
  background-color: transparent;
  color: #333 !important;
}

.criteiro {
  display: block;
  margin-left: 3rem;
}

.criteiro a {
  font-weight: 400;
}

.detail_link {
  font-size: 1.8rem;
  text-decoration: none !important;
  color: var(--primary) !important;
  border: 0;
  background-color: transparent;
}

.error-cell {
  background: #f99 !important;
}

.warning-cell {
  background: #ff9 !important;
}

.success-cell {
  background: #bce1bc !important;
}

.success-cell,
.warning-cell,
.error-cell i {
  font-size: 36px;
}

.hide_desktop-screen {
  display: none;
}

@media screen and (max-width: 768px) {
  .hide-on-small-screen {
    display: none;
  }

  .table tbody tr td:first-child {
    width: 50px;
    height: auto !important;
  }
  .mobile-options {
    height: auto !important;
  }

  .hide_desktop-screen {
    display: flex !important;
    flex-direction: row;
    margin: 15px 0;
    justify-content: space-between;
  }
}
