.acess_monitor {
  font-size: 19px;
  line-height: 48px;
  color: #fff;
  background-color: var(--primary);
  font-weight: 700;
  font-family: var(--fonte-lato);
  height: 31px;
  width: 157px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.38px;
}

.report_container_title {
  font-size: 2.6em;
  color: #333;
  font-weight: 900;
  font-family: "Lato";
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.report_container_subtitle {
  font-size: 1.5em;
  color: #333;
  font-weight: 700;
  font-family: "Lato";
  margin-top: 0;
  margin-bottom: 1em;
}

@media (min-width: 320px) and (max-width: 480px) {
  .report_container_title {
    font-size: 38px;
    font-weight: bold !important;
  }

  .report_container_subtitle {
    font-size: 22px;
    margin-top: 15px;
  }
}

.html_code {
  padding: 15px;
  background-color: var(--white);
  overflow: auto;
  margin-bottom: 100px;
  word-break: normal;
  white-space: pre;
  margin: 40px 0;
}

.code_text {
  font-size: 87.5%;
  color: #212529;
  word-break: normal;
  text-decoration: none;
}

.right {
  justify-content: flex-end;
}

.html_code {
  padding: 15px;
  overflow: scroll;
  margin-bottom: 100px;
}

.html_code pre {
  display: block !important;
  font-size: 87.5%;
  color: #212529;
  word-wrap: break-word;
}

/* Dark mode */

.dark_mode-code .report_container_title,
.dark_mode-code .report_container_subtitle,
.dark_mode-code .sumary_container h2,
.dark_mode-code .sumary_container .size_container span {
  color: #ebf2f6 !important;
}

.dark_mode-code .html_code {
  background-color: #2c3241 !important;
  color: #ebf2f6 !important;
}

.dark_mode-code .html_code pre {
  color: #ebf2f6 !important;
}
