.fullWidth {
  width: 100%;
}

.sm_w87 {
  margin-left: 6.5%;
  margin-right: 6.5%;
}

section {
  width: 87%;
}

section:nth-child(1) nav {
  padding-top: 3em;
  padding-bottom: 3em;

  span:last-child {
    color: var(--results-breadcrumbs-text);
  }
}

caption {
  visibility: hidden;
  position: absolute;
}

section:nth-child(1) div {
  padding-top: 2em;
  padding-bottom: 3em;

  .breadcrumbHeader {
    opacity: 0.8;
    color: var(--results-breadcrumbs-header);
    font-family: Lato;
    font-size: 0.875em;
    letter-spacing: 0;
  }
}

section:nth-child(1) nav span {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.bottomL {
  margin-bottom: 70px;
}

.bottomS {
  margin-bottom: 30px;
}

nav span,
nav a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Lato";
  color: var(--results-breadcrumbs-link);
}

nav a {
  text-decoration: underline;
}

.info .accessMonitor {
  font-size: 19px;
  line-height: 48px;
  color: var(--results-info-accessMonitor-text);
  background-color: var(--results-info-accessMonitor-background);
  font-weight: 700;
  font-family: "Lato";
  height: 31px;
  width: 157px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info h1 {
  font-size: 2.6em;
  color: var(--results-info-url);
  font-weight: 900;
  font-family: "Lato";
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.info h2 {
  font-size: 1.5em;
  color: var(--results-info-title);
  font-weight: 700;
  font-family: "Lato";
  margin-top: 0;
}

.test {
  background-color: var(--elements-test-description-background);
  width: 100%;
}

.sm_test {
  background-color: var(--elements-test-description-background);
  width: 100%;

  .sm_col2 {
    width: 100%;
    margin-right: 30px;
    margin-left: 10px;
  }

  .sm_info_result {
    margin-bottom: 0;
  }

  .sm_info_data {
    margin-top: 0;
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    background-color: var(--elements-list-label-background);
    font-size: 2.5em;
    font-weight: 900;
    font-family: "Lato";
    color: var(--elements-test-description-text);
  }

  .sm_info_label_top {
    width: 100%;
    height: 80px;
    font-weight: 700;
    font-family: "Lato";
    color: var(--elements-test-description-text);
  }

  .sm_info_label_bot {
    border-top: 1px solid var(--elements-list-label-background);
    width: 100%;
    height: 80px;
    font-weight: 700;
    font-family: "Lato";
    color: var(--elements-test-description-text);
  }
}

.test span:nth-child(2) {
  margin-left: 1.5em;
  border-right: thin solid var(--elements-test-description-border);
}

.test span:nth-child(3) {
  margin-left: 30px;
  font-size: 2.5em;
  line-height: 2em;
  font-weight: 900;
  font-family: "Lato";
  color: var(--elements-test-description-text);
}

.test span:last-child {
  margin-left: 16px;
  width: 10em;
  color: var(--elements-test-description-text);
}

.test .desc {
  font-size: 1.125em;
  line-height: 3em;
  color: var(--elements-test-description-text);
  font-weight: 700;
  font-family: "Lato";
}

.result {
  margin: 10px;
  width: 5em;
  height: 5em;
}

.result svg {
  padding: 22px;
}

.G {
  background-color: #9c9;
}

.Y {
  background-color: #ff9;
}

.R {
  background-color: #f99;
}

::ng-deep .mat-tab-body {
  background-color: white;
}

.elements_list {
  margin-bottom: 100px;
}

::ng-deep .mat-tab-label-content {
  font-size: 16px;
  line-height: 48px;
  color: var(--elements-tabs-text) !important;
  font-weight: 700;
  font-family: "Lato";
}

::ng-deep .mat-ink-bar {
  height: 0.5em !important;
  background-color: var(--elements-tabs-text);
}

::ng-deep .mat-tab-body-content {
  background-color: var(--elements-list-background);
}

.elements_list ol {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 48px;
  padding-right: 48px;
}

ol table {
  border-bottom: thin solid var(--elements-list-border);
  border-spacing: 0;
  width: 100%;
}

ol .table1 {
  border-top: thin solid var(--elements-list-border);
}

ol table tr:first-child td:first-child {
  vertical-align: top;
  text-align: center;
}

ol li table tr:first-child {
  .counter {
    padding-top: 27px;
  }
  .label {
    padding-top: 32px;
  }
  .value {
    padding-top: 32px;
  }
}

.counter {
  color: var(--elements-list-text);
  font-family: Lato;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0;
  width: 70px;
  padding: 15px;
}

.label {
  background-color: var(--elements-list-label-background);
  color: var(--elements-list-text);
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: right;
  vertical-align: top;
  width: 120px;
  padding-right: 15px;
  padding-left: 10px;
}

.value {
  color: var(--elements-list-text);
  font-family: Lato;
  font-size: 16px;
  letter-spacing: 0;
  padding-left: 15px;
  text-align: left;
  padding-bottom: 32px;
}

.value code {
  color: var(--elements-list-code);
}

.value .img {
  background-color: white;
}

td .element,
td code {
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
}

iframe {
  width: 100%;
  height: 800px;
}

.tabs {
  width: 100%;
  background-color: var(--elements-list-background);
  font-family: "Lato", sans-serif;

  button {
    cursor: pointer;
  }
}

[role="tablist"] {
  width: 100%;
  margin: 0 0 -0.1em;
  overflow: visible;
  background-color: var(--background);
}

[role="tab"] {
  font-size: 1em;
  line-height: 3em;
  color: var(--home-content-tabs-text);
  background-color: var(--background);
  font-weight: 700;
  font-family: "Lato";
  opacity: 1 !important;
  border: none;
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  margin: 0;
}

[role="tab"][aria-selected="true"] {
  border-bottom: 5px solid var(--home-content-tabs-text);
}

[role="tabpanel"] {
  border: none;
}

[role="tab"]:hover,
[role="tab"]:focus,
[role="tab"]:active {
  outline: none;
}

[role="tabpanel"].is-hidden {
  display: none;
}

[role="tabpanel"]:focus {
  outline: none;
}

.page_highlight {
  background-color: var(--background);
}

.img img {
  width: 20em;
  height: 4em;
}

.img2 {
  overflow: scroll;
}

.img2 img {
  max-width: 300px;
  height: auto;
}

.elem_clearB {
  margin: 0 !important;
  padding: 0 !important;
}

.elem_num {
  width: 100%;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  background-color: var(--background);
  font-weight: 700;
  font-family: "Lato";
  font-size: 2em;
  color: var(--elements-list-text);
}

.elem_elem {
  width: 100%;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 30px;
  color: var(--elements-list-text);
}

.elem_atrib {
  width: 100%;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  color: var(--elements-list-text);

  .element {
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
  }
}

.elem_code {
  width: 100%;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;

  code {
    color: var(--elements-list-code);
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
  }
}

.elem_cont {
  width: 100%;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-right: 30px;
  border-bottom: 1px solid var(--elements-list-border);

  .img,
  .img2 {
    background-color: white;
  }
}

.elem_label {
  font-weight: 700;
  padding-bottom: 6px;
  color: var(--elements-list-text);
}

.listbox-area {
  margin-top: 10px !important;
  padding: 0 !important;
  border: none;

  #exp_wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  a {
    font-family: "Lato";
    font-weight: 700;
    font-size: 1em !important;
    text-decoration: none;
    color: var(--home-header-text-2);
  }

  [role="listbox"] {
    padding: 0;
    border: none;
    background-color: var(--results-listbox-background);
    color: var(--home-content-button-text-hover);
    font-family: "Lato";
    font-weight: 400;
  }

  [role="listbox"] + *,
  .listbox-label + * {
    margin-top: 1em;
  }

  [role="option"] {
    color: var(--home-header-text-2);
    position: relative;
    display: block;
    padding: 0 1em 0 1.5em;
    line-height: 1.8em;
    cursor: pointer;
  }

  [role="option"].focused {
    color: var(--home-content-button-background-hover);
    background-color: var(--home-content-button-text-hover);
  }

  button[aria-haspopup="listbox"] {
    font-family: "Lato";
    font-weight: 700;
    font-size: 1em !important;
    text-decoration: none;
    position: relative;
    padding: 15px 20px;
    border: 2px solid var(--results-listbox-background-border);
    text-align: left;
    background-color: var(--results-listbox-background);
    color: var(--home-header-text-2);
    height: 3.3em !important;
    min-height: 0 !important;
  }

  button[aria-haspopup="listbox"]::after {
    position: absolute;
    right: 10px;
    top: 17px;
    content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='16px' width='30px'><title>icon_arrow_drop</title><path d='M13.6,7.32l-.35.35a1.66,1.66,0,0,1-2.34,0l-3-3-1-1a1.55,1.55,0,0,0-2,.08A1.59,1.59,0,0,0,5,6L8,9l3,3a1.66,1.66,0,0,0,2.34,0l3-3,3-3a1.59,1.59,0,0,0,.11-2.24,1.58,1.58,0,0,0-2.23.1L15.92,5' fill='%23333399'/></svg>");
  }

  button[aria-haspopup="listbox"] + [role="listbox"] {
    position: relative;
    margin: 0;
    width: 100%;
    border-top: 0;
    overflow-y: auto;
  }

  .hidden {
    display: none;
  }
}

.listbox-area2 {
  margin-top: 40px !important;
  padding: 0 !important;
  border: none;

  .left-area {
    width: 100%;
  }

  #exp_wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  [role="listbox"] {
    padding: 0;
    border: none;
    background-color: var(--home-content-button-background-hover);
    color: var(--home-content-button-text-hover);
    font-family: "Lato";
    font-weight: 400;
  }

  [role="listbox"] + *,
  .listbox-label + * {
    margin-top: 1em;
  }

  [role="option"] {
    position: relative;
    display: block;
    padding: 0 1em 0 1.5em;
    line-height: 1.8em;
    font-family: "Lato";
    font-weight: 700;
    font-size: 1em !important;
    cursor: pointer;
  }

  [role="option"].focused {
    color: var(--home-content-button-background-hover);
    background-color: var(--home-content-button-text-hover);
  }

  button[aria-haspopup="listbox"] {
    position: relative;
    padding: 15px 20px;
    border: 0;
    text-align: left;
    background-color: var(--home-content-button-background-hover);
    color: var(--home-content-button-text-hover);
    font-family: "Lato";
    font-weight: 700;
    font-size: 1em !important;
  }

  button[aria-haspopup="listbox"]::after {
    position: absolute;
    right: 10px;
    top: 17px;
    content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='16px' width='30px'><title>icon_arrow_drop</title><path d='M13.6,7.32l-.35.35a1.66,1.66,0,0,1-2.34,0l-3-3-1-1a1.55,1.55,0,0,0-2,.08A1.59,1.59,0,0,0,5,6L8,9l3,3a1.66,1.66,0,0,0,2.34,0l3-3,3-3a1.59,1.59,0,0,0,.11-2.24,1.58,1.58,0,0,0-2.23.1L15.92,5' fill='%23ffffff'/></svg>");
  }

  button[aria-haspopup="listbox"] + [role="listbox"] {
    position: relative;
    margin: 0;
    width: 100%;
    border-top: 0;
    overflow-y: auto;
  }

  .hidden {
    display: none;
  }
}
