/*mat-card {
  width: 100%;
}

mat-card-header {
  text-align: center;
}

.result {
  width: 91%;
}

table tr td {
  padding: 0.5em;
}

table tr td:first-child {
  text-align: right;
  border-right: thin solid black;
}

table tr td:nth-child(2) {
  text-align: left;
}

code {
  vertical-align: middle;
}

.element {
	text-decoration: underline;
  color: blue;
}

iframe {
	width: 100%;
	height: 800px;
}

.total_results {
  margin-left: 3rem;
  color: rgba(0,0,0,.54);
}*/

.header_wrapper {
  width: 100%;
  background-color: var(--background-secondary);
}

.amp_header {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 8px;
  padding-right: 8px;
}

.amp_header svg path {
  fill: var(--text-primary);
}

.amp_header svg circle {
  fill: var(--text-primary);
}

.card_actions button {
  /*width: 141px;*/
  height: 50px;
  border-radius: 25px;
  background-color: #333399;
  font-size: 1em;
  color: #f1f1f1;
  font-weight: 700;
  font-family: "Red Hat Display";
  text-align: center;
}

.card_actions button svg {
  display: inline;
  margin-left: 1em;
}

.card_actions button svg path {
  fill: #f1f1f1;
}

section {
  width: 87%;
}

section:first-child {
  width: 100%;
}

section:nth-child(2) nav {
  padding-top: 5em;
  padding-bottom: 3em;
}

section:nth-child(2) nav span {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

section:nth-child(3) {
  font-family: "Red Hat Display";
  padding-bottom: 5em;
}

section:nth-child(3) div:first-child:not(.result) {
  background-color: #339;
  font-size: 1em;
  padding: 0.3em;
  width: 120px;
  color: #f1f1f1;
  font-weight: 700;
  text-align: center;
}

.info h1 {
  font-size: 2.6em;
  color: var(--results-info-url);
  font-weight: 900;
  font-family: "Lato";
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.info h2 {
  font-size: 1.5em;
  color: var(--results-info-title);
  font-weight: 700;
  font-family: "Lato";
  margin-top: 0;
}

.test {
  background-color: white;
  width: 100%;
}

.test span:nth-child(2) {
  padding: 20px;
  border-right: thin solid var(--background);
}

.test span:nth-child(3) {
  margin-left: 30px;
  font-size: 2.5em;
  line-height: 3em;
  font-weight: 900;
  font-family: "Lato";
}

.test span:last-child {
  margin-left: 16px;
  width: 10em;
}

.test .desc {
  font-size: 1.125em;
  line-height: 3em;
  color: var(--results-evaluation-title);
  font-weight: 700;
  font-family: "Lato";
}

.result {
  margin: 10px;
}

.result svg {
  padding: 22px;
}

.G {
  background-color: #9c9;
}

.Y {
  background-color: #ff9;
}

.R {
  background-color: #f99;
}

::ng-deep .mat-tab-body {
  background-color: white;
}

.elements_list ol {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 48px;
  padding-right: 48px;
}

ol table {
  border-bottom: thin solid black;
  border-spacing: 0;
  width: 100%;
}

ol .table1 {
  border-top: thin solid black;
}

ol table tr:first-child td:first-child {
  vertical-align: top;
  text-align: center;
}

.counter {
  color: #333333;
  font-family: Lato;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 48px;
  width: 70px;
  padding: 15px;
}

.label {
  background-color: lightgrey;
  color: #333333;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 40px;
  text-align: right;
  width: 120px;
  padding-right: 15px;
  padding-left: 10px;
}

.value {
  color: #333333;
  font-family: Lato;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 40px;
  padding-left: 15px;
  text-align: left;
}

.value code {
  color: #d91176;
}

iframe {
	width: 100%;
	height: 800px;
}