/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
/* TODO: mudar fonte para ficheiros locais */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Red Hat Display', Roboto, Monospace;
  font-size: 16px;
  background-color: var(--background);
}

*,
*::before,
*::after {
  box-sizing: unset;
}