.main {
  height: auto;
  background-color: #e4e4e4;
  position: relative;
  padding-bottom: 4rem;
}

.main .link_breadcrumb_container {
  padding: 3rem 0px 2rem 0px;
}

.image_container_warning {
  margin: 10px;
  padding: 18px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.image_container_warning i {
  font-size: 36px;
}

.result_left_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-left: 1px solid #ddd;
}

.result_left_container span:first-child {
  margin-left: 30px;
  font-size: 2.5em;
  line-height: 2em;
  font-weight: 700;
  color: #333;
}

.result_left_container span:last-child {
  margin-left: 16px;
  width: 10em;
  color: #333;
}

.show_details {
  margin-bottom: 2rem;
}

.details-container .nav-tabs {
  margin-bottom: 0 !important;
}

.textHeader {
  font-size: 1.125em;
  line-height: 3em;
  color: var(--elements-test-description-text);
  font-weight: 700;
  font-family: var(--font-lato);
}

.textHeader code {
  color: #e83e8c !important;
  text-decoration: none;
}

.tabContent_container-details {
  background: #fff;
  padding: 32px 48px;
  overflow: auto;
}

@media (max-width: 768px) {
  .show_details-container {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .tabContent_container-details {
    background: #fff;
    padding: 32px 18px;
  }

  .url_content {
    font-size: 26px;
  }

  .test_result {
    font-weight: normal;
  }
}

/* Dark mode */

.dark_mode-details .report_container_title,
.dark_mode-details .report_container_subtitle,
.dark_mode-details .sumary_container h2,
.dark_mode-details .sumary_container .size_container span {
  color: #ebf2f6 !important;
}

.dark_mode-details .show_details {
  background-color: #2c3241 !important;
}

.dark_mode-details .show_details span {
  color: #ebf2f6;
}

.dark_mode-details .nav-tabs {
  background-color: transparent !important;
  border-bottom: 0 !important;
}

.dark_mode-details .nav-tabs .nav-item button {
  background-color: transparent !important;
  color: #b6dcf6 !important;
  border-bottom-color: #b6dcf6;
}

.dark_mode-details .tabContent_container-details {
  background-color: #2c3241 !important;
}

.dark_mode-details .label {
  background-color: #20242c;
  color: #ebf2f6 !important;
}

.dark_mode-details .counter,
.dark_mode-details .value,
.dark_mode-details .img {
  color: #ebf2f6 !important;
}

.dark_mode-details .img h1,
.dark_mode-details .img h2,
.dark_mode-details .img h3,
.dark_mode-details .img h4,
.dark_mode-details .img h5,
.dark_mode-details .img h6 {
  color: #ebf2f6 !important;
}

.dark_mode-details .table_container-details:first-child {
  border-color: #525865 !important;
}

.value img {
  position: relative !important;
  max-width: 100%;
  transform: none !important;
}

.dark_mode-details .value code {
  color: #e39d9f !important;
}

.url_content {
  font-size: 2em !important;
}
