mat-card {
  width: 100%;
}

mat-card {
  border-radius: 0;
  box-shadow: none !important;
  padding-left: 60px;
  padding-top: 78px;
}

.header {
  text-align: center;
}

.intro_text {
  width: 51%;
}

.tabs03 {
  width: 48%;
}

form,
mat-card-content {
  width: 100%;
}

mat-hint {
  height: 2rem;
}

button {
  padding: 0.5rem;
}

.input_field {
  width: 100%;
}
