mat-card {
  width: 100%;
}

mat-card {
  border-radius: 0;
  box-shadow: none !important;
}

.header {
  text-align: center;
}

form,
mat-card-content {
  width: 100%;
}

mat-hint {
  height: 2rem;
}

button {
  padding: 0.5rem;
}

.input_field {
  width: 100%;
}
