.container_error {
    height: 30vh; /* This ensures the container takes up the full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_error a {
    color: #000;
    text-decoration: none;
}

.container_error a span {
    padding-right: 10px;
}

.container_error a span:hover {
    text-decoration: underline;
}


/* DARK MODE */
.dark_mode-error,
.dark_mode-error a {
    color: var(--white);
}